<%= form_with id: "milestone-form", model: [ @project, @project.milestones.build ] do |form|%>
    <div class="input-group mb-3">
        <%= form.text_field :description, :placeholder => "New milestone description", class: "form-control" %>
        <%= form.submit "Record milestone", class: "btn btn-outline-secondary" %>
    </div>
<% end %>