<%= stylesheet_link_tag 'timer.css' %>

<button class="timer" id="timer">
  <div class="d-flex justify-content-center">
    <p class="timer-time fs-1"><span id="hours">00</span>:<span id="minutes">00</span>:<span id="seconds">00</span></p>
  </div>
</div>

<%= javascript_include_tag "timer.js" , defer: true %>