<%= stylesheet_link_tag 'timer.css' %>

<div class="timer">
  <div class="d-flex justify-content-center">
    <p class="timer-time fs-1"><span id="hours">00</span>:<span id="minutes">00</span>:<span id="seconds">00</span></p>
  </div>

  <div class="timer-controls d-flex justify-content-center">
    <button class="btn btn-primary mx-2" id="button-start">Start</button>
    <button class="btn btn-primary mx-2" id="button-end">End</button>
    <button hidden id="button-reset">Reset</button>
  </div>
</div>

<%= javascript_include_tag "timer.js" %>